@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: #fff;
    overflow: hidden;
}

.logo {
    width: 50px;
    vertical-align: middle;
}

.container {
    display: flex;
    flex-direction: column;
    background: url('../img/bg-1920x1920.png') no-repeat center center/cover;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.animated {
    font-family: 'Mountains of Christmas', cursive;
    margin: 0;
    padding: 0;
    font-size: 6rem;
    background: url('../img/red-white-strip.png') no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}